{{>licenseInfo}}
package {{packageName}}

import io.ktor.locations.KtorExperimentalLocationsAPI
import io.ktor.locations.Location
import {{packageName}}.model.*
{{#imports}}import {{import}}
{{/imports}}

{{#apiInfo}}
object Paths {
{{#apis}}
{{#operations}}
    {{#operation}}
    {{^bodyAllowed}}
    /**
     * {{summary}}
     * {{#unescapedNotes}}{{.}}{{/unescapedNotes}}
     {{#allParams}}* @param {{paramName}} {{description}} {{^required}}(optional{{#defaultValue}}, default to {{{.}}}{{/defaultValue}}){{/required}}
     {{/allParams}}*/
    @KtorExperimentalLocationsAPI
    @Location("{{path}}") data class {{operationIdCamelCase}}{{#allParams.0}}(
        {{#allParams}}val {{paramName}}: {{{dataType}}}{{^required}}{{^defaultValue}}? = null{{/defaultValue}}{{#defaultValue}} = {{defaultValue}}{{/defaultValue}}{{/required}}{{#required}}{{#isNullable}}?{{/isNullable}}{{/required}}{{#hasMore}},
        {{/hasMore}}{{/allParams}}
    ){{/allParams.0}}

    {{/bodyAllowed}}
    {{/operation}}
{{/operations}}
{{/apis}}
}
{{/apiInfo}}
